/*   DOCUMENT INFORMATION 
    - Document: Le Surfcasting
    - Version: 1.0.0
    - Author: Sebastien REYNAUD
    
*/

/* Colors 
    - Default body text #eee
    - H1:  
    - H2:  
    - H3:  
    - H4
    - H5
    - H6
    - Button
    - Button: hover
    - Border
*/

/* FONTS
    - Default:  
    - subtitle
    - H1
    - H2
    - H3
    - H4
    - H5
    - H6
    - p:  
*/
/* CSS DIRECTORY 
    1. =GLOBAL
    2. =HEADER
*/


/* ACCUEIL ===================
==========================================================================================================================================================================================================*/


/* GLOBAL ===================
==============================================*/
html{
    background-color: #fff;
}
h1{
   color: #fff;
    text-align: center;
    
}
h2{
    
}
h3{
  color: black;  
}
h4{
    
}
p{
  color: #ff4e00;  
}


/* HEADER ===================
==============================================*/
header{
    background-image: url(../images/header.webp);
    height: 200px;
    background-position: center;
    background-size: cover;
}
.title{
    text-align: center;
}

.intro{
    margin-top: 100px;
}

/* MODAL ===================
==============================================*/
.modal-title{
    margin-left: 170px;
}
.contact-form.mail{
    margin-left: 56px;
}


/* SECTION ===================
==============================================*/

section{
    background-image: url(../images/coucher2.webp);
    height: 80vh;
    background-position: center;
    background-size: cover;
}


/* FOOTER ===================
==============================================*/
footer{
    background-color: black;
}
.mentions{
    color: #fff;
    text-align: center;
}

/* ARTICLE ===================
=================================================================================================================================================================================================*/

/* HEADER ===================
==============================================*/
.title-article{
    background-color: #fff;
}


/* SECTION ===================
==============================================*/
th img{
    height: 100px;
    width: auto;
    
}
section.article-membre{
    background-image: url(../images/bateau1.webp);
    
}
.table{
    background-color: #fff;
    color: #0008c7;
}

/*  ===================
==============================================*/




/* ADMIN ===================
=================================================================================================================================================================================================*/
.commentaires{
    width: 100%;
}
.form{
    display: block;
}

.icons{
    text-align: center;
}
.icons-1{
    margin-left: 420px;
}

.icons-2{
    margin-right: 420px;
}

/* EDIT ===================
=================================================================================================================================================================================================*/


.nom{
    padding-left: 46px;
}

.form{
    display: contents;
}
.adresse{
    margin-left: 30px;
    
}
.ville{
    padding-left: 226px;
    
}
.btn-edit{
    margin-left: 500px;
}

/* INSCRIPTIONS ===================
=================================================================================================================================================================================================*/
.inscription{
   padding-right: 400px; 
}
