/*   DOCUMENT INFORMATION 
    - Document: Le Surfcasting
    - Version: 1.0.0
    - Author: Sebastien REYNAUD
    
*/

/* Colors 
    - Default body text #eee
    - H1:  
    - H2:  
    - H3:  
    - H4
    - H5
    - H6
    - Button
    - Button: hover
    - Border
*/

/* FONTS
    - Default:  
    - subtitle
    - H1
    - H2
    - H3
    - H4
    - H5
    - H6
    - p:  
*/
/* CSS DIRECTORY 
    1. =GLOBAL
    2. =HEADER
*/

/* GLOBAL ===================
==============================================*/
html{
    background-color: #fff;
}
h1{
   color: #fff;
    
}
h2{
    
}
h3{
    
}
h4{
    
}
p{
    
}


/* HEADER ===================
==============================================*/
header{
    background-image: url(../images/header.webp);
    width: 100%;
    height: 134px;
    
}
.title{
    text-align: center;
}


/* SECTION ===================
==============================================*/

section{
    background-image: url(../images/coucher2.webp);
    height: 100vh;
    background-position: center;
    background-size: cover;
}